access_key_id: <AWS Access Key ID for SES IAM>
secret_access_key: <AWS Secret Access Key for SES IAM>
region: <Ex. us-east-1>
mail_domain: <Ex. no-reply@test.com>
smtp_host: email-smtp.us-east-1.amazonaws.com
smtp_user: <AWS Access Key ID for SES IAM>
smtp_password: <AWS Secret Access Key for SES IAM>
smtp_port: 25